<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Parágrafos e quebras de linha</h1>
    <hr>
    <p>Você pode escrever um paragrafo de qualquer jeito basta colocar &lt;p&gt; e &lt;p&gt;.</p>
    <!--Olá é assim que coloca comentário-->
    <p>Se precisar quebrar o texto basta usar a TAG "br"</p>
    <br>
    <P>Olha como foncionou</P>
    <p>Vamos adicionar alguns símbulos especiais
        &reg;
        &copy;
        &trade;
        &real;
        &Delta;
        &uparrow;
        &darr;
        &dollar;

    </p>
    <p>Vamos adicionar alguns amojis 
        &#x1F436;
        &#x1F99C;
        
    </p>
</body>
</html>